<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
    <link href= "/css/style.css" rel="stylesheet" type="text/css" />

    <title>FileserverJS</title>
  </head>
  
  <body>
    <div class="wrapper">
      <div class="h1wrapper">
        <h1><%= msg  %></h1>
      </div>
      <div class="driveSpace">
        <span>Drive Usage: 
          <% let parsedDiskData = JSON.parse(diskStats)%> 
          <%= parsedDiskData.usagePerc%>%
          [
          <%= parsedDiskData.usedSpace%> GB
          /
          <%= parsedDiskData.totalSpace%> GB
          ]
        </span>
      </div>
      <div class="actionBtns">
      <form method="POST" action="/upload" enctype="multipart/form-data" id="uploadForm">
          <input type="file" name="fileUpload" id="realFileinput" hidden="hidden" multiple>
          <button type="button" id="fileinputBtn" class="uploadFormBtns">Choose a file</button>
          <span id="filenamesSpan">No files chosen</span>
          <button type="submit" id="submit-upload-btn" class="uploadFormBtns">Start Uploading</button>
        </form>
        
        <form method="POST">
          <button type="submit" formaction="/download">Download</button>
          <button type="submit" formaction="/delete" onclick="return confirm('Are you sure you want to delete the selected files? This action can NOT be undone!');">Delete</button>
        </div>
        <% if(fileData.length > 0) { %>
        
          <table>
            <tr>
              <th>Filename</th>              
              <th>Filesize</th>
            </tr>
              <%fileData.forEach(element => {%>
                <tr>
                  <td>
                    <label class="checkbox-container">
                      <input type="checkbox" name="<%= element.name%>">
                      <%= element.name%>
                    </label>
                  </td>
                  <td>
                    <%=element.fileSize%>
                  </td>
                </tr>
                <%})%>
              </table>
              <%}else{%>
                <h2>No files to display</h2>
                <%}%>
              </form>
</div>
<script>
    const realInputBtn = document.getElementById("realFileinput");
    const customBtn = document.getElementById("fileinputBtn");
    const filenamesSpan = document.getElementById("filenamesSpan");
    
    customBtn.addEventListener("click", () => {
      realInputBtn.click();
      
      realInputBtn.addEventListener("change", () => {
        var files = document.getElementById("realFileinput").files;
        let filenameString = "";
        
        for(var i = 0; i < files.length; i++){
          //append the filenames to string
          filenameString = filenameString + files[i].name;
          
          //if current files element is not the last, add a comma and whitespace to it
          if(i != files.length - 1){
            filenameString += ", ";
          }
        }
        //add string that includes all names to span element
        filenamesSpan.innerHTML = filenameString;
        const submitUploadBtn = document.querySelector("#submit-upload-btn").style.display = "inline-block";
      });
    });


  </script>
</body>
</html>